@import 'tailwindcss';

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 0px;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@keyframes scanline {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.animate-scanline {
  animation: scanline 3s linear infinite;
}

.first-section-reset {
  padding-top: 0 !important;
  margin-top: 0 !important;
}
